<style>
html, body {
    height: 100%;
    margin: auto;
}
.leaflet-container {
    height: 700px;
    margin: auto;
    max-width: 100%;
}
body{
    background-image: linear-gradient(rgb(255, 132, 163), rgb(226, 131, 255), rgb(171, 116, 255));
    background-size: cover;
    opacity: 50%;
}
.main{color: #000000; text-align: center;
}
.head {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 1rem 2rem;
    color: #000000;
    background-color: transparent;
    background-image: linear-gradient(180deg, #ffdc00, #ffdc00)
        ,linear-gradient(225deg, #ffdc00, #ffdc00)
        ,linear-gradient(0deg, #ffdc00, #ffdc00)
        ,linear-gradient(90deg, #ffdc00, #ffdc00)
        ,linear-gradient(135deg, transparent 9px, #ffdc00 10px, #ffdc00 12px, transparent 12px)
        ;
    background-position: top right
        ,top right
        ,bottom left
        ,bottom left
        ,top left
        ;
    background-size: calc(100% - 15px) 2px
        ,2px 100%
        ,100% 2px
        ,2px calc(100% - 15px)
        ,15px 15px
        ;
    background-repeat: no-repeat;
}
